<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Automation Suite" thread-count="3" parallel="tests">

    <test name="TestSuit3" parallel="tests" >
        <classes>
            <class name="secretest" />
            <class name="" />
        </classes>
    </test>
</suite>